html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.calc {  
  border: 2px solid #000;
  background: #202020;
  margin: 20px auto 0;
  height: 667px;
  width: 375px;
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
}

.calc-display {
  flex-grow: 1;
  font-size: 75px;
  position: relative;
}

.calc-display .content {
  color: #fff;
  bottom: 5px;
  position: absolute;
  right: 28px;
}

.calc-buttons {
  border-left: 2px solid #000;
  display: flex;
  flex-wrap: wrap;
}

.calc-buttons > button:focus,
.calc-buttons > button:active {
  outline: none;
}

.calc-buttons > button {
  border: none;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background: #c9cacc;
  flex-basis: 25%;
  font-size: 41px;
  font-weight: 300;
  transition: opacity .6s;
  padding: 14px;
  border-right: 0.5px solid #000;
  border-bottom: 0.5px solid #000;
}

.calc-buttons > button:active,
.calc-buttons > button.is-active {
  opacity: .9;
  transition: opacity 0s;
}

.calc-buttons .calc-buttons-operation
 {
  color: #fff;
  background: #f58010;
  font-weight: 200;
  font-size:  56px;
}

#calc-buttons__clear,
#calc-buttons__change-sign,
#calc-buttons__percent{
  background: #bbbcbd;
   font-size: 30px;
}

 #calc-buttons__subtract{
	font-size:  50px;
	font-weight: 300;
	padding-top:16px;
	padding-bottom:16px;
	
  }

 #change-sign__minus {
    font-size: 38px;
	line-height: 0;
    margin-left: -6px;
  }

  #change-sign__plus {
    margin-right: -6px;
  }

  #calc-buttons__zero{
    padding-left: 36px;
	text-align: left;
    flex-basis: 50%;
  }


#calc-buttons__multiply{
	padding-top:6px;
	padding-bottom:22px;
  }

  #calc-buttons__decimal{
    font-size: 60px;
	font-weight: 250;
    line-height: 0;
    padding-bottom: 28px;
  }