
html {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

button {
  border: none;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

button:focus,
button:active {
  outline: none;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 2vh;
}

@media (min-width: 376px) {
  #l-main {
    margin: 20px auto 0;
    height: 667px;
    width: 375px;
  }

#l-main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.calc {  
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
}

.calc-display {
  background: #202020;
  color: #fff;
  flex-grow: 1;
  font-size: 75px;
  position: relative;
}

.calc-display .content {
  bottom: 0.5vw;
  position: absolute;
  right: 4vw;
  transform-origin: right bottom;
}

.calc-buttons {
  background: #000000;
  border: 2px solid #000;
  border-right: 1.5px solid #000;
  border-bottom: 0.5px solid #000;
  display: flex;
  flex-wrap: wrap;
}

.calc-buttons > button {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  background: #c9cacc;
  flex-basis: 25%;
  font-size: 41px;
  font-weight: 200;
  transition: opacity .6s;
  padding: 14px;
  border-right: 0.5px solid #000;
  border-bottom: 0.5px solid #000;
}

.calc-buttons > button:active,
.calc-buttons > button.is-active {
  opacity: .9;
  transition: opacity 0s;
}

.calc-buttons .calc-buttons-operation
 {
  color: #fff;
  background: #f58010;
  font-size:  56px;
  font-weight: 300;
}

#clear-button,
#change-sign-button,
#percent-button {
  background: #bbbcbd;
   font-size: 30px;
}

 #change-sign-button-minus {
    font-size: 38px;
	line-height: 0;
    margin-left: -6px;
  }

  #change-sign-button-plus {
    margin-right: -6px;
  }

    #subtract-button {
    font-size: 120px;
	font-weight: 100;
	line-height: 0;
  }

  #zero-button {
    padding-left: 36px;
	text-align: left;
    flex-basis: 50%;
  }

  #decimal-button {
    font-size: 60px;
	font-weight: 300;
    line-height: 0;
    padding-bottom: 28px;
  }

}